@import url(http://fonts.googleapis.com/css?family=Cookie);
/* -------------------------------------------------------------------------*/
/* Font Face */
@font-face {
  font-family: "centeria_script_demoregular";
  src: url('/stylesheets/fonts/csd-web.eot');
  src: url('/stylesheets/fonts/csd-web.eot?#iefix') format('eot'), url('/stylesheets/fonts/csd-web.ttf') format('truetype'), url('/stylesheets/fonts/csd-web.svg') format('svg');
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 19, ../sass/screen.scss */
li a {
  color: #fa73a9;
}

/* line 21, ../sass/screen.scss */
.topbar a {
  color: #fa73a9;
}

/* line 28, ../sass/screen.scss */
.topbar div.container {
  background: rgba(255, 255, 255, 0.8);
}
/* line 33, ../sass/screen.scss */
.topbar .brand {
  font-family: "centeria_script_demoregular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: #72bfe8;
}
/* line 41, ../sass/screen.scss */
.topbar input {
  background: #fa73a9;
}
/* line 45, ../sass/screen.scss */
.topbar ul {
  padding-top: 12px;
}
/* line 49, ../sass/screen.scss */
.topbar li {
  font-family: "Cookie", cursive;
  font-size: 1.5em;
  font-weight: normal;
  color: #32394b;
}

/* line 59, ../sass/screen.scss */
.container {
  *zoom: 1;
  max-width: 19em;
  _width: 19em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
/* line 38, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 30em) {
  /* line 59, ../sass/screen.scss */
  .container {
    max-width: 39em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }
  /* line 38, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* line 71, ../sass/screen.scss */
.container {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.8);
}

/* line 77, ../sass/screen.scss */
body {
  background-image: url('/images/bg.png?1365344115');
}

/* line 82, ../sass/screen.scss */
#main_content_place {
  min-height: 300px;
  font-family: "Cookie", cursive;
  font-size: 1.5em;
  color: #32394b;
}

/* line 90, ../sass/screen.scss */
img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 97, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "centeria_script_demoregular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #32394b;
}

/* line 103, ../sass/screen.scss */
h1 {
  font-size: 3.5em;
  text-align: center;
  line-height: 0.8em;
  padding-top: 20px;
}
/* line 109, ../sass/screen.scss */
h1 span {
  display: block;
}

/* line 114, ../sass/screen.scss */
h2 {
  margin-bottom: 5px;
}
/* line 118, ../sass/screen.scss */
h2 a {
  color: #fa73a9;
}

/* line 125, ../sass/screen.scss */
h4 {
  margin-top: 5px;
}
/* line 127, ../sass/screen.scss */
h4 span {
  color: #72bfe8;
}

/* line 132, ../sass/screen.scss */
b {
  color: #32394b;
}

/* line 138, ../sass/screen.scss */
footer {
  font-family: "centeria_script_demoregular", Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  text-align: center;
  color: #32394b;
  padding-top: 20px;
}
